<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>編集処理</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>内容</th>
			<th></th>
		</tr>


			<form th:action="@{{reportId}/update/{commentId}(reportId=${reportId}, commentId=${formModel.id})}" th:object="${formModel}" th:method="put">
				<tr>
					<td><input type="text" name="text" th:value="${formModel.text}" size="20" maxlength="200" /></td>
					<input type="hidden" neme="reportId" th:value="${formModel.reportId}">
					<td><input type="submit" value="更新"></td>
				</tr>
			</form>


		<!--
		<form th:action="@{{contentId}/update/{commentId}(contentId=${content.id}, commentId=${formModel.id})}" th:object="${formModel}" th:method="put">
			<tr>
				<td><input type="text" name="text" th:value="${formModel.text}" size="20" maxlength="200" /></td>
				<td><input type="submit" value="更新"></td>
			</tr>
		</form>
		 -->



	</table>

	<div th:each="comment : ${formModel}">
			<span th:text="${comment.id}"></span>
			<span th:text="${comment.reportId}"></span>
			<span th:text="${comment.text}"></span>
	</div>

	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>