<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<div class="content-search">
		<form action="/" >
			<input type="date" name="startDate" value="${startDate}" ></input>
				<span> ～ </span>
			<input type="date" name="endDate" value="${endDate}" ></input>

			<input type="submit" value="絞込"  class="retrieval-button"/>
		</form>

	</div>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>作成日</th>
			<th></th>
			<th></th>
			<th>コメント</th>
			<th>コメント一覧</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td th:text="${content.createdDate}">
			<td>
				<a th:href="@{/edit/{id}(id=${content.id})}">
				<button type="button">編集</button></a>
			</td>
			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
			<td>
				<form method="post" th:action="@{{id}/add(id=${content.id})}" th:object="${formModel}">
					<input type="text" name="text" th:value="${comment}" size="20" maxlength="200" />
					<input type="submit" value="更新">
				</form>
			</td>
			<td>
				<div th:each="comment : ${comments}">
					<div th:if="${content.id} == ${comment.reportId}">
						<span th:text="${comment.id}"></span>
						<span th:text="${comment.reportId}"></span>
						<span th:text="${comment.text}"></span>
						<div th:text=${comment.createdDate}></div>
						<!-- 編集ボタン -->
						<a th:href="@{{contentId}/edit/{commentId}(contentId=${content.id}, commentId=${comment.id})}">
							<button type="button">編集</button>
						</a>
						<!-- 削除ボタン -->
						<form th:action="@{/deleteComment/{commentId}(commentId=${comment.id})}" th:method="delete">
							<span><input type="submit" value="削除"></span>
						</form>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>